[Map]
FileName=OSM
MapVersion=100
FID=[% data.fid || settings.fid %]
ProductCode=1
;Color=32

CodePage=[% settings.codepage || 1251 %]

Levels=2
Level0=14
Level1=13

Zoom0=5
Zoom1=6

Copy1=Gis-Lab garmin project, http://gis-lab.info/data/mp/
Copy2=OpenStreetMap, http://osm.org/

MapsourceName=OSM [% data.name %] [% settings.today %]
MapSetName=OSM [% data.name %]
CDSetName=OSM [% data.name %]
[End-Map]

[Files]
[%- FOREACH file IN files %]
img=[% file %]
[%- END %]
[End-Files]
